@import url(https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap);

*{
  margin: 0%;
  padding: 0%;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto ;
  column-gap: 4%;
  grid-template-areas: 
  'hd '
  'ut'
  'sc1'
  'sc2'
  'ft';
}


header {
    grid-area: hd;
}

h1 {
    display: grid;
    grid-area: hd;

    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing: 5px;    
   
  }

  .navbars {
    text-decoration: none;
    color: black;
    position: relative;
    margin: 3%;
  }

  .navbars::after{
    content: '';
   height: 4px;
   width: 0%;
   background: #9b59b6;
   display: block;
   position: absolute;
   bottom: -10px;
   transition: all 0.4s;
   pointer-events: none;
  }

  a:hover::after{
    width: 100%;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4%;
  }

  .library{
    max-width: 98.7vw;
    grid-area: hd;
  }

  .popular{

    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: ut ;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing: 2px; 
    margin: 8%;
    
  }

  .authors {
    grid-area: sc1;
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-width: 100vw;
}

.authors img {
  width: 30vw;
}


.popularbooks{
  grid-area: sc2;
  overflow: none;
  margin: 7% ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
.popularbooks img{
  width: 15vw;
  height: 100%;
}