@import url(https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap);

body {

    display: grid;
    grid-template-areas: 
    'tt' 
    'sc1' 
    'sc2' 
    'ft' ;
}

h1 {
    font-family: 'Commissioner', sans-serif; 
    font-size: 3rem;                       
    font-weight: 400;                      
    color: #2c3e50;                       
    text-align: center;                  
    margin: 20px 0;                       
    letter-spacing: 2px;                              
  }
  